@import '../../assets/styles/colors.scss';



            .keyCardAreaForm {

                .react-autosuggest__container--open {
                    .keycard_wrapper {
                        display: flex;
                        flex-direction: column;
                    }
                }

                label.keycardChoice {
                    margin-right: 20px;
                    padding-left: 12px;
                    cursor: pointer;
                }
                input[type="radio"] {
                    cursor: pointer;
                    margin-bottom: 8px;
                }
                .msgCheckNo {
                    box-sizing: content-box;
                    background-color: $grayColor4;
                    border-radius: 2px;
                    padding: 12px 15px;
                    p {
                        padding: 0;
                        margin: 0;
                        color: $whiteColor;
                        text-align: justify;
                        font-size: 13px;
                        span {
                            padding: 0;
                        }
                    }
                }
                .msgCheckYes {
                    input[type="text"] {
                        width: 100%;
                    }
                    .infoKeyCard {
                        float: right;
                        span {
                            padding: 0;
                            color: $grayColor4;
                            font-size: 10px;
                        }
                        &:hover {
                            text-decoration-color: $grayColor4;
                        }
                    }
                    .btnCard1, .btnCard2 {

                    }
                }
            }
            .contentQuestion {
                position: absolute;
                right: 0;
                top: 0;
                background: none;
                border: none;
                width: 15px;
                height: 15px;
                padding: 0;
                outline: 0;
                .questionSvg {
                    svg {
                        fill: $grayColor4;
                    }
                }
            }




.nav-tabs > li.active > a, .nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
    border: none !important;
}
.nav-tabs.nav-justified > .active > a {
    color: $principalColor !important;
}
.nav-tabs > li.active > a {
    border-bottom: 3px solid $principalColor !important;
}
.nav-tabs.nav-justified > li > a {
    border-bottom: 2px solid transparent;
    &:hover {
        background: none !important;
        border: 1px solid transparent;
    }
}

@media (max-width: 768px) {
    .keyCardAreaContainer {
        margin-bottom: 12px;
        legend {
            margin-bottom: 12px;
        }
    }
    .nav-justified, .nav-tabs.nav-justified {
        width: 100%;
        display: flex;
    }
    .nav-justified > li, .nav-tabs.nav-justified > li {
        float: none;
        width: 50%;
    }
    .nav-tabs.nav-justified > .active > a {
        margin: 0;
        height: 100%;
        border-radius: 0;
    }
}

@media (max-width: 992px) {
    .keyCardAreaForm span {
        padding-right: 10px !important;
        padding-left: 6px !important;
    }
    .contentQuestion {
        visibility: hidden;
    }
}

