// =============================================================================
// Palette
// =============================================================================
$whiteColor: rgb(255,255,255);              //#FFFFFF
$blackColor: rgb(0,0,0);                    //#000000

$principalColor: rgb(4,83,167);             //#0453A7        BLUE COLOR
//$principalColor: #bd1220;                               // RED COLOR

$buttonAddColor: rgb(117,117,117);          //#757575

$buttonColor: rgb(200,200,200);             //#C8C8C8

$insuranceImgColor: rgba(176,176,176,0);    //#b0b0b0

$statusInitial: rgb(30,81,160);             //#1E51A0       BLUE COLOR
//$statusInitial: #bd1220;                                // RED COLOR
$statusValid: rgb(75,174,81);               //#4BAE51

$chipColor: rgb(233,233,241);               //#E9E9F1


$grayColor2: rgb(67,67,67);                 //#434343
$grayColor3: rgb(200,200,200);              //#C8C8C8
$grayColor4: rgb(184,184,184);              //#B8B8B8
$grayColor5: rgb(232,232,232);              //#E8E8E8
