@import '../../assets/styles/colors.scss';

html, #content { height: 100%; }
body {
    font-family: Regular-Regular,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: darkgray;
    color: $grayColor2;
}

.noPadding {
    padding: 0;
}

.noVisible {
    opacity: 0;
    visibility: hidden;
}

.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 4s ease;
    transition-delay: 500ms;
}
